/* beige color = #fbf8f3 */
/* #4d13d1 */


body {
  background: #4d13d1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  font-family: "Inter";
  font-weight: 400;
}

header {
  background-color: #fbf8f3;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 160px;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  margin: 0px;
}

h3 {
  margin: 0px;
}

h6 {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 14px;
  margin-bottom: 0px;
}

p {
  font-weight: 400;
}

.p {
  color: #4f4f4f;
}

.p > a {
  color: #4f4f4f;
}

.font24 {
  font-size: 22px;
}
.font20 {
  font-size: 20px;
}
.font44 {
  font-size: 44px;
}
.font400 {
  font-size: 32px;
}

.bold {
  font-weight: 800;
}

.flex1 {
  flex: 1
}

.spacing {
  width: 1320px;
  padding: 0px 180px;
}

.links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style-type: none;
  padding: 0px;
}

.header-buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: 20px
}

.sign-in-button {
  background-color: #fbf8f3;
  color: black;
  border-radius: 5px;
  border-style: none;
  padding: 24px 32px;
}

.sign-up-button {
  background-color: #4d13d1;
  color: white;
  border-radius: 5px;
  border-style: none;
  padding: 24px 32px;
  }

/* End of header. Start of container one */

.container-one {
  display: flex;
  background-color: #fbf8f3;

}

.container-one-text-box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 120px
}

.rating {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  color: black;
  font-weight: 500
}

.star {
  height: 20px;
  width: 20px;
}

.create-header {
  display: flex;
  flex-flow: row nowrap;
}

.container-one-paragraph {
  display: flex;
  flex-flow: row nowrap;
}

.button-link {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.check-boxes {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.SFT {
  background-color: #4d13d1;
  color: white;
  border-radius: 5px;
  border-style: none;
  padding: 24px 32px;
}

.view-examples {
  color: #4d13d1;
  text-decoration: underline;
  padding: 24px 32px;
}

.container-one-picture-box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  flex: 1 1 0;
  padding-bottom: 160px
}

.hero-image {
  height: 110%;
  width: 110%;
}

/* end section one. begin section two */

.container-two {
  background: #ffffff;
  display: flex;
  flex-flow: column nowrap;
}

.big-three {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}

#why-fiber {
  flex-flow: row nowrap;
  margin: 64px 0px;
}

.examples {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
}

.example-boxes {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}

.p-margin {
  margin-top: 5px;
  padding-bottom: 160px;
  line-height: 30px;

}

.fiber-title {
  color: #4d13d1;
}
.diversify-your-portfolio {
  width: 1320px;
  background-color: #4d13d1;
  border-radius: 12px;
  color: #ffffff;
  flex-flow: row nowrap;
}

.portfolio-text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column nowrap;
  padding-left: 3em;
  padding-right: 2em;
}

.off-white {
  color: #e6defd;
}

.emoji {
  width: 13%;
  height: 13%;
}

.free-trial-button {
  color: #4d13d1;
  background-color: #ffffff;
  padding: 22px 32px;
  border-radius: 6px;
  border-style: none;
}

.portfolio-image {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-end;
  flex: 10;
}
 .page-image {
   height: 90%;
   width: 90%;
   padding-top: 46px;
   padding-right: 36px;
 }

/* End purple section. Begin portfolio section. */

.container-three {
  background: #ffffff;
  padding-top: 48px;
  padding-bottom: 48px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.portfolios {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.portfolio-example-box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: #dadada;
  border-radius: 5px;
  height: 310px;
  width: 430px;
}

.wrapper .item {
  margin-right: 100px;
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}

.portfolio-statement  {
  white-space: normal;
  line-height: 24px;
  font-size: 18px;
}

.portfolio-statement > p {
  margin-top: 0px;
}


.view-portfolio-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px
}
.portfolio-buttons {
  color: #4d13d1;
  background-color: #ffffff;
  border-color: #dadada;
  width: 382px;
  padding: 18px 70px;
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
  font-size: 22px;
  font-weight: 700;
}

.portfolio-title-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 430px;
  margin-top: 22px;

}

.padding-left {
  padding-left: 25px;
  padding-right: 25px;
}

.portfolio-title {
  flex: 6;
  padding-left: 20px;
}

.portfolio-title > p {
  margin-top: 4px;
}

.portfolio-image {
  width: 30px;
  flex: 1;
  padding-left: 25px;
}

.names {
  color: #4d13d1;
}


/* FOOTER */

footer {
  background-color: #fbf8f3;
  display: flex;
  flex-flow: row nowrap;
}

h5 {
  font-size: 22px;
  font-weight: 700;
}

.footer-box {
  flex: 1;
}

.footer-list {
  list-style: none;
  padding: 0px;
}

.footer-padding {
  padding-right: 45px
}

.li {
  margin-bottom: 10px;
}

.lineheight {
  margin-bottom: 25px;
}

#fiber-footer-box {
  flex-grow: 2;
  margin-right: 15px;
}
